# Google Maps API Key
Maps_API_KEY=YOUR_KEY_HERE

# PostgreSQL Database URL (Render)
DATABASE_URL=postgresql://username:password@host:port/database

# Environment
NODE_ENV=development

# Server Port
PORT=5002
