# Database Configuration
DATABASE_URL=postgresql://clean_air_route_db_user:IuWaWbxrONoHlljztOVXt8ljXkAe0CE5@dpg-d7n4m2pf9bms738aplcg-a.singapore-postgres.render.com/clean_air_route_db

# Environment
NODE_ENV=development

# Server Port
PORT=3000
